<!-- ko if: show -->
<div class="popup-holder">
    <div class="popup">
        <div class="panel" data-bind="css: single">
            <textarea data-bind="value: file1.content, editor: 'xml', codemirror:{autoCloseTags:true}"></textarea>
        </div>
        <!-- ko if: file2.show -->
        <div class="panel">
            <textarea data-bind="value: file2.content, editor: 'xml', codemirror:{autoCloseTags:true}"></textarea>
        </div>
        <!-- /ko -->
        <div class="toolbar">
            <input type="text" data-bind="value: basename" />
            <button class="button" data-bind="click: rename">Rename</button>
            <button class="button" data-bind="click: save">Save</button>
            <button class="button" data-bind="click: close">Close</button>
        </div>
    </div>
</div>
<!-- /ko -->