<hr />

<div class="whitepanel-with-title">
    <div class="title" data-bind="foreach: menu">
        <span class="item" data-bind="text: label, css: selected, click: selectThis"></span>
    </div>

    <div class="whitepanel">
        <div class="whitepane">
            <div class="whitepane">
                <div class="wrapper"><edit params="value: api"></edit></div>
            </div>
        </div>
    </div>
    <div class="whitepanel toolbar">
        <button class="button" data-bind="save: api, action: 'api'">Save</button>
    </div>

    <!-- ko if: fileList -->
    <file-list params="value: fileList"></file-list>
    <!-- /ko -->
</div>