<div class="whitepanel-with-title">
    <div class="title" data-bind="text: title"></div>

    <div class="whitepanel">
        <div class="whitepane">
            <div class="whitepane">
                <div class="wrapper"><edit params="value: route"></edit></div>
            </div>
        </div>
    </div>
    <div class="whitepanel toolbar">
        <button class="button" data-bind="save: route, action: 'route'">Save</button>
    </div>

    <hr />
    <div class="whitepanel">
        <div class="whitepane">
            <div class="wrapper">
                <div class="row">
                    <label>Scenario</label>
                    <input type="text" data-bind="value: scenario" />
                    <button class="button" data-bind="save: scenarioData, action: 'scenario'">Save</button>
                </div>
            </div>
        </div>
    </div>
    <div class="whitepanel toolbar">
        
    </div>
    <!-- ko if: methods -->
    <hr />
    <div class="whitepanel">
        <div class="whitepane odd-even">
            <div class="wrapper"><show params="value: methods"></show></div>
        </div>
    </div>
    <!-- /ko -->
    
    <!-- ko if: api -->
    <route-api params="value: api, config: title"></route-api>
    <!-- /ko -->
</div>